<% scroll = scroll.presence || false %>
<% sender = message.chat.sender  %>
<% recipient = message.chat.recipient%>

<div id="message-<%= message.id %>" <%= 'data-chat-scroll-target=scroll' if scroll%>>

        
</div>
