// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #BBC800;
$light-gray: #8E8E8E;
$medium-gray: #333232;
$gray: #1E1E1E;
$purple: #4C19B9;
$lilac: #866ED6;
$light-gray: #F4F4F4;
