body {
  font-family: $body-font;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: $green;
}

header {
  position: relative;
  padding: 0 2rem;
}
