<div data-refresh-target="list">
  <% if @pigeons.empty? %>
    <p>Oops, too specific. No pigeons satisfy this query</p>
  <% else %>
    <div class="scrolling-wrapper">
      <div class="pigeons-container ps-3 pt-3">
        <% @pigeons.each do |pigeon| %>

                <% pigeon_state = pigeon_card_variables(pigeon)  %>
                <%= render 'pigeons/pigeon_card', pigeon: pigeon, card_class: "unread",
                pigeon_avatar: pigeon_state[:pigeon_avatar], media_icon: pigeon_state[:media_icon],
                favourite: pigeon_state[:favourite],
                reply_later: pigeon_state[:reply_later],
                both: pigeon_state[:both]  %>


          
        <% end %>

      </div>
    </div>
  <% end %>

</div>
