<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: pigeons_path, method: :get, data: { turbo_frame: :results }, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword", oninput: "this.form.requestSubmit()"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-dark" %>
    <% end %>
  </div>
</div>

    <!-- <%= turbo_frame_tag :results, target: :_top do %> -->
