<body>
  <header>
    <div class="navbar">
      <div class="logo"><a href="#">PigeonHole</a></div>
      <ul class="links">
        <li><%= link_to "Home", root_path %></li>
        <li><a href="Messages">Messages</a></li>
        <li><a href="My Pigeons">My Pigeons</a></li>
        <li><a href="Categories">Categories</a></li>
      </ul>
      <div class="avatar-dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown-menu" %>
        <div class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><%= link_to "Sign Out",  destroy_user_session_path %></li>
        </div>
      </div>
      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </header>

  <script>
    const toggleBtn = document.querySelector('.toggle_btn');
    const avatarDropdown = document.querySelector('.avatar-dropdown');
    const dropDownMenu = document.querySelector('.dropdown-menu');

    toggleBtn.onclick = function () {
      dropDownMenu.classList.toggle('open');
      const isOpen = dropDownMenu.classList.contains('open');

      avatarDropdown.classList.toggle('open');
      toggleBtn.classList.toggle('open');
    };
  </script>
</body>
