<div class="container-fluid">

  <h2 class="mt-3">My Categories</h2>
    <div class="scrolling-wrapper mb-5">
      <ul class="categories d-flex align-items-center">
        <li class="category-card">politics</li>
        <li class="category-card">funny</li>
        <li class="category-card">comedy</li>
        <li class="category-card">world</li>
        <li class="category-card">ukhouse</li>
        <li class="category-card">chill</li>
      </ul>
    </div>

  <h2>Unread Pigeons</h2>
    <div class="scrolling-wrapper">
      <ul class="latest-pigeons d-flex align-items-center p-0">
        <% pigeons_read = @pigeons.all? { |pigeon| pigeon.read} %>
        <% if pigeons_read %>
          <p><strong>You are up to date! 🎉</strong></p>
        <% else %>
          <% @pigeons.each do |pigeon| %>
            <% unless pigeon.read %>
              <%= link_to pigeon_path(pigeon) do%>
                <li class="pigeon-card"><%= pigeon.title %></li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
          <%# <li class="pigeon-card">pigeon 2</li>
          <li class="pigeon-card">pigeon 3</li>
          <li class="pigeon-card">pigeon 4</li>
          <li class="pigeon-card">pigeon 5</li>
          <li class="pigeon-card">pigeon 6</li>
          <li class="pigeon-card">pigeon 7</li>
          <li class="pigeon-card">pigeon 8</li>
          <li class="pigeon-card">pigeon 9</li>
          <li class="pigeon-card">pigeon 10</li>
          <li class="pigeon-card">pigeon 11</li>
          <li class="pigeon-card">pigeon 12</li>
          <li class="pigeon-card">pigeon 13</li>
          <li class="pigeon-card">pigeon 14</li>
          <li class="pigeon-card">pigeon 15</li>
          <li class="pigeon-card">pigeon 16</li>
          <li class="pigeon-card">pigeon 17</li>
          <li class="pigeon-card">pigeon 18</li>
          <li class="pigeon-card">pigeon 19</li>
          <li class="pigeon-card">pigeon 20</li> %>
      </ul>
    </div>

    <%= link_to "Search all pigeons", pigeons_path%>
</div>

<%= link_to new_pigeon_path, class: 'new-btn bottom-right round-btn', style: "background-color: black" do %>
  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 5l0 14" />
    <path d="M5 12l14 0" />
  </svg>
<% end %>
