.chat {
  &h1 {
    color: white;
  }
}

.fon {
  font-size: smaller;
  color: $medium-gray;

}

.message-crop {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:80%;
}



.chat-card {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.chat-index-container {
  h1 {
    margin: 10px;
  padding: 10px;
  }
}

.music-icon-chat {
  color: $green;
  font-size: 1.5rem;
}

.book-icon-chat {
  color: $green;
  font-size: 1.5rem;
}

.article-icon-chat {
  color: $green;
  font-size: 1.5rem;
}

.play-icon-chat {
  color: $green;
  font-size: 1.8rem;
}

.send {
  background-color: $light-gray;
  border-radius: 10px;
  width: 100%;
  border: none;
  display: flex;
  // position: absolute;
  // padding-right: 0;
}

.pos {
  position: sticky;
  bottom: 0;
  z-index: 1030;
}
