.chatWindow {height:200px; width:33%;}
.chatWindow {
    overflow:hidden;
    overflow-y:scroll;
  }

.hover-green {
  color: white;
    &:hover {
    color: $green;
    }
}
  form#new_message {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  }
