.plogo {
  width: 350px;
}


.login {
  color:black;
  background-color: $green;
  border:none;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  margin: 0.6rem;
  border-radius: 8px;
}

.signup {
  color:black;
  background-color: $purple;
  border:none;
  font-size: 1rem;
  padding: 0.4rem 0.7rem;
  margin: 0.6rem;
  border-radius: 8px;
}

.home-container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
}

.home-container h1 {
  color: white;
}

.scrolling-wrapper {
  background-color: $gray;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

h2 {
  font-weight: 100;
}

.new-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 60px;
  width: 60px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #BBC800;
  position: fixed;
  bottom: 15px;
  right: 8px;
}

