.card-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.play-icon {
  font-size: 2rem;
  color: $green;
}

.heart {
  font-size: 2rem;
}

.delete-cross {
  font-size: 2rem;
  color: $green;
}

.back-icon {
  font-size: 2rem;
  background-color: $green;
  width: 32px;
  border-radius: 100%;
  color: black;

}

.reply-icon {
  font-size: 2rem;
  background-color: $green;
  width: 31px;
  border-radius: 100%;
  color: black;
}

.article-icon {
  font-size: 1rem;
  color: $green;
}

.sand-clock {
  font-size: 1.5rem;
}

.music-icon {
  font-size: 2rem;
  color: $green;
}

.book-icon {
  font-size: 2rem;
  color: $green;
}

.send-icon {
  font-size: 2rem;
  color: $green;
}

.unread-icon {
  font-size: 2rem;
  color: $green;
}
