.message-card {
  border: 1px solid black;
  -webkit-box-shadow: -4px 9px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: -4px 9px 5px 0px rgba(0,0,0,0.16);
  box-shadow: -4px 9px 5px 0px rgba(0,0,0,0.16);
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
}
