// .navbar{
//   display: flex;
//   justify-content: space-between;
//   background: white;
// }

// .navbar .logo{
//   justify-content: center;
//   margin: auto;
// }


// .navbar .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar .navbar-brand img {
//   width: 40px;
//   justify-content: start;
// }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Nunito";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: $green;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar{
  width: 100%;
  height: 60px;
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px !important;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: blue;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

.dropdown-menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.avatar-dropdown:hover .dropdown-menu {
  display: block;
}

.nav-btn {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center;
}

// .nav-icon {
//   position: absolute;
//   top: 0;
//   left: 0;
//   margin-right: 10px
// }

// @media(max-width: 500px) {
//   .navbar .logo {
//     height: 50px;
//     width: auto;
//     background-image: url("https://res.cloudinary.com/dm2lbzmmn/image/upload/v1694117213/Logosmall_vabhdy.png");
//   }
// }

// @media(min-width: 501px) {
//   .navbar .logo {
//     background-image: url("https://res.cloudinary.com/dm2lbzmmn/image/upload/v1694118163/Logowithtext_z4wiyi.png");
//   }
// }
