.navbar{
  display: flex;
  justify-content: space-between;
  background: white;
}

.navbar .logo{
  justify-content: center;
  margin: auto;
}


.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
  justify-content: start;
}


// @media(max-width: 500px) {
//   .navbar .logo {
//     height: 50px;
//     width: auto;
//     background-image: url("https://res.cloudinary.com/dm2lbzmmn/image/upload/v1694117213/Logosmall_vabhdy.png");
//   }
// }

// @media(min-width: 501px) {
//   .navbar .logo {
//     background-image: url("https://res.cloudinary.com/dm2lbzmmn/image/upload/v1694118163/Logowithtext_z4wiyi.png");
//   }
// }
