.navbar{
  display: flex;
  justify-content: space-between;
  background: white;
}

.navbar .logo{
  justify-content: center;
  margin: auto;
}


.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
  justify-content: start;
}
