.pigeon-card {
  list-style: none;
  // background-color: grey;
  // color: white;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-color: $medium-gray;
  padding: 15px;
  color: white;
  background-size: cover;
  background-position: center;
  width: 30vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-radius: 15px;
  line-height: 0.8rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 30px;
  text-align: left;
  scroll-snap-align: start;
  font-family: "Inter", sans-serif!important;
  font-size: 0.6rem;
    // &:hover {
    //   height: 280px;
    //   width: 280px;
    //   transition: 0.5s;
    //   background-color: black;
    //   color: white;
    // }
}

.pigeon-card-unread {
  list-style: none;
  // background-color: grey;
  // color: white;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-color: $purple;
  padding: 15px;
  color: white;
  background-size: cover;
  background-position: center;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-radius: 15px;
  line-height: 0.8rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 30px;
  text-align: left;
  scroll-snap-align: start;
  font-family: "Inter", sans-serif!important;
  font-size: 0.6rem;
    // &:hover {
    //   height: 280px;
    //   width: 280px;
    //   transition: 0.5s;
    //   background-color: black;
    //   color: white;
    // }
}

a {
  text-decoration:none;
}

.pigeon-card-media {
  font-size: x-large;
  color: black;
  text-align: right;
}

.offset-before {
  position: relative;
  top: 3px;
}

.sender-date-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
