.pigeon-card {
  list-style: none;
  background-color: grey;
  background-color: $medium-gray;
  padding: 0.8rem;
  color: white;
  background-size: cover;
  background-position: center;
  width: 40vw;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-radius: 20px;
  line-height: 0.8rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 0rem;
  margin-right: 1rem;
  margin-top: 1rem;
  text-align: left;
  scroll-snap-align: start;
  font-family: "Inter", sans-serif!important;
  font-size: 0.6rem;
  position: relative;

    h3 {
      margin-bottom: auto;
      margin-top: 0.5rem;
      padding-right: 2rem;
      font-size: 1rem;
    }


    p {
      margin-bottom: 0px;
    }

    .pigeon-description {
      margin-bottom: auto;
      margin-top: 1rem;
    }

    &.unread {
      background-color: $purple;
      height: 20rem;

      h3 {
        font-size: 1.5rem;
      }

      .offset-icon {
        color: $green;
      }

      .secondary-icon {
        color: $green;
      }

    }
}

.pigeon-card.unread.in-chat {
  height: 20vh;
}

.pigeon-card.sent {
  align-self: end;
  margin-left: auto;
}

.pigeon-card.received {
  align-self: start;
  margin-right: 1rem;
}

.pigeon-card.with-details {
  height: 25vh;
  width: auto;
  margin-right: none;
}

.pigeon-description {
  margin-bottom: auto;
  margin-top: 1rem;
}

// .pigeon-card-bottom {
//   text-align: right;
//   margin: 0px;
//   padding: 0px;
// }

.offset-icon {
  position: absolute;
  right: -5px;
  top: -10px;
  color: $purple;
}

.secondary-icon {
  position: absolute;
  right: 35px;
  top: -10px;
  color: $purple;
  }

.offset-cross {
  position: absolute;
  right: 10px;
  top: 10px;
}

a {
  text-decoration:none;
}

.pigeon-card-media {
  font-size: x-large;
  color: black;
  // //
  // border-radius: 50%;
  // // padding: 0.5rem;

  // margin-bottom: 0px;
  // height: 2rem;
  // width: 2rem;
}

.sender-date-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.toggle-in-index {
  display: flex;
  justify-content: space-between;
}

.avatar-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.media-circle {
  color: $green;
  margin: 0;
}

.media-type {
  color: black;
  margin: 0;
}

.media-stack {
  position: absolute;
  bottom: 0.3rem;
  right: 0rem;
  margin: 0;
}
