.searchbar {
  width: 100%;
  background-color: $light-gray;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-radius: 10px;
}
